body {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

main {
  margin: 2rem 0;
}

.logout-btn {
  color: rgba(255,255,255,.5);
  padding-left: 2rem;
}

.logout-btn:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

.icon {
	padding: 0 6rem;
  margin-top : 1rem;
}

footer{
  margin-top: 2rem;
}

.icon-link {
	color: #000;
}

.icon-link:hover {
	text-decoration: none;
	color: #000;
  box-shadow: 0 .200rem .40rem rgba(0,0,0,.075);
}
